<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <script src="/javascripts/home.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">""
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Home</title>
</head>
<body>
  <header> 
   
    <section id="banner">
       
        <div class="banner"><img src="/images/home-img/hand-1850120 1.png" alt="dj">
           <div class="banner-inf">
            <h1>BeatLab</h1>
            <h2>Your voice to the world!</h2>   
         </div>
         </div>
        <section class="menuH">
         <nav id="nav">
            <button aria-label="Abrir Menu"  id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false">
                <span id="hamburguer"></span>
            </button>
            <ul id="menu" role="menu">
                <li><a href="/login">Login</a></li>
                <li><a href="/home">Perfil</a></li>
                <li><a href="/listadeprodutos">Lista de Produtos</a></li>
            </ul>
        </nav>
        
        <input class="search" type="text" placeholder="Search">
    </section>
    </section>
    <section id="profile-player">
        <div class="player">
            <img src="/images/home-img/Group 1.png" alt="player"> 
        </div>
        
        <div class="profile">
            <a href="/views/painel-usuario.html"> <img src="../images/painelUsario-img/bottao perfil (1).png" alt="#"></a>
        </div>
    </section>
      </header>