<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/partials.css">
    
    <!-- <script src="/javascripts/home.js" defer></script> -->
    <script src="/javascripts/header.js" defer></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>BeatLab</title>
    <link rel="icon" href="/favicon1.ico" type="image/x-icon">  
</head>

<body>

  <header class="header"> 

       
        <div class="banner"><a href="/home"  ><img  src="/images/home-img/hand-1850120 1.png" alt="dj" ></a>
           <div class="banner-inf">
            <h1 class="beat">BeatLab</h1>
            <h2 class="your">Your voice to the World!</h2>
         </div> 
        </div>
   


    <audio id="player" controls="controls" hidden  preload="preload" >
        <source src="/audio" type="audio/ogg"> 
    </audio>


    <audio id="playerLike"  controls="controls" hidden  preload="preload">
        <source src="/like.mp3" type="audio/mpeg">
    </audio>


        <div class="player">

                 <div class="container-imagen-label">                    
                     <img id="capaAlbum" src="../images/home-img/foto9.jpg" alt="">                
                    <div class="artista-musica">
                     <label id="artistaLabel" for="">Artista:  </label>
                     <label id="musicaLabel" for="">Música:   </label>
                     <label id="playListLabel" for="">PlayList: </label> 
                    </div>
                </div>

              <div class="progress-label">
              <div id="myProgress">
              <div id="myBar"></div>
              </div>
              <label id="timer" for="">0:00 / 0:00</label>
            </div>
    
            <div class="btnsPlayer">             
                <button id="rew"  > << </button>                           
                <button id="playPauseBtn" onclick="playPause()">PLAY</button>                                                         
                <button id="next" > >> </button>                                            
                <button id="like" onclick="document.getElementById('playerLike').play()"> like </button>
            </div>
        </div>

      

        <div class="profile">
            <a href="/painelUsuario"> <img src="../images/painelUsario-img/bottao perfil (1).png" alt="#"></a>
            <span>Fulano de tal</span>
        </div>

  
</header>




     
<div class="headerM">
      <section class="menuH">
        <nav id="nav">
           <button aria-label="Abrir Menu"  id="btn-mobile" aria-haspopup="true" aria-controls="menu" aria-expanded="false"></button>
           <span id="hamburguer"></span>
          
             <ul id="menu" role="menu">
               <li><a href="/login">Login</a></li>
               <li><a href="/painelUsuario">Perfil</a></li>
               <li><a href="/listadeprodutos">Catálogo</a></li>
            </ul>

        </nav>
       
        <div class="search">
       <input  type="text" placeholder="Search">
        </div>
        
        <div class="carrinho" id="carrinho">
            <label id="carinhoLabel" for="">0</label>
           <a href="/carrinho"><img width="35px" src="../images/carrinho-img/carrinho.png" alt=""></a>
           </div> 

    </div>
   </section>


