

main{
    display: flex;
    flex-direction: column;
    align-items: center;
   /* height: 45rem; */
    /* justify-content: space-around; */

   color: white;


}

.carrinh-container{
    width: 100%;
}


.card-carrinho{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 20rem;
height: 4rem;
margin-bottom: 1rem;
border-color: white;
border: solid 0.2rem;
border-radius: 10px;

}

.card-pagar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    height: 4rem;
   
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-color: white;
    border: solid 0.2rem;   
    border-radius: 10px;  
}

.card-pagar .button{
    margin-left: 2rem;
    margin-bottom: 0.3rem;
    width: 70px;
}


.imagem{
    width: 60px;
}


.pilha{
    display: flex;
    flex-direction: column;

}

.button{
    color: white;
    font-weight: bold;
    background-color:#08F3C9; ;
    cursor: pointer;
    border-radius: 5px;
    height: 35px;
    border: solid 2px white;
    margin-right: 1.6rem;
    margin-left: 1,6rem;

}

.button:hover{
   color: black;
   border: solid 2px rgb(83, 3, 76)
}