body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(49.5deg, #1B1B2C 57.92%, #3C3C73 89.34%);
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}



.new{
    margin: 0 auto;
    width: 25rem;
    height: 25rem;
    overflow: hidden;
    padding-top: 10rem;
}

.new h1{
    background-color: #08F3C9;
    width:  100%;
    height: 1.8rem;   
    font-size: 22px;
    text-align: center;
}

.newMusic{
    width: 400%;
    height: 50rem;
    display: flex;
}

.newMusic input{
    display: none;
}

.cardsMusic{
    width: 25%;
    background-color: #514869;
    cursor: pointer;
    margin-bottom: 5.8rem;
    transition: 2s;
}

.cardsMusic img{
    width: 25rem;
    height: 15rem;
}



.top{ 
width: 75rem;
height: 15rem;
display:flex;
flex-direction: column;
overflow: hidden;
padding-top: 2  rem;
padding-left: 1rem;
justify-content: center;
}

.container-top5{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
    
}

.container1{
    display: flex;
    flex-direction: row;
    transition: 2.5s;
    margin-bottom: 2rem;
}

.topH1{
    background-color: #08F3C9;
    width: 100%;
    height: 2rem;
  
    text-align: start;
    font-size: 22px;
    text-align: center; 

}




.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.2rem;
    background-color: #514869;
    color: white;
    width: 15rem;
    height: 11.5rem;
    border-radius: 7px;
    border: 1px solid transparent;
 
}
.card img{
    margin-top: 0.2rem;
    width: 13rem;
    height: 8rem;
    /* transition: all .5s;
    border: .0rem solid transparent; */
    border-radius: 10px;
    background-color: #08F3C9;
   
}

.card span{
margin-top: 0.3rem;
}

.card:hover{
    /* transition: all 0.3s; */
    cursor: pointer;
    border: 1px solid white
}
 
.card .price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background:  linear-gradient(45deg, red, green, blue, yellow);
    color: white;
    font-weight: bold;
    width: 13rem;
    margin-top: -1.3rem;
    height: 2rem;
    background-size: 400% 400%;
    animation: animate 10s ease infinite;
}



.card .price .espaco{
 margin-right: 1.2rem;
}



.recentes {
    width: 100%;
    height: 2rem;
    font-size: 22px; 
    background-color: #08F3C9;
    margin-bottom: auto;
    text-align: center;
    align-items: center;
}

.container-recentes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
    align-items: center;
 
    height: 8rem;
    margin: 0rem;
    margin-left: 0rem;
    padding-top: 1rem;
}

.card-recente{
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 7rem;
    margin: 1rem;   
    color: white;
    text-align: justify;
    border: 1px solid transparent;
    background-color: #514869;;
    border-radius: 5px;
    align-items: center;
}


.card-recente :hover{
    border: 1px solid white;
    cursor: pointer;
}

.card-recente img{
    width: 7rem;
    height: 5rem;
    margin-right: .5rem;
    margin-bottom: 0.5rem;
    border-radius: 3px;
    background-color: #08F3C9;
}




.card-playlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    color: #FFFFFF; 
    right: 1rem;

}

.card-playlist footer{
    margin-top: .3rem;
}

.container-cardPlay{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    padding-top: .1rem;
   /* position: relative; */
   left: 1rem; 
}




.playLists {
 width: 100%;
 height: 1.8rem;
 text-align: start;
 background-color: #08F3C9;
 font-size: 22px;  
  text-align: center;
}


.card-playlist img{
    width: 7rem;
    height: 5rem;
    margin-right: .5rem;
    border: 1px solid transparent; 
    border-radius: 3px;
}

.card-playlist img:hover{
    border: 1px solid white; 
    cursor: pointer;
}





 /* menu hamburger */





@keyframes animate {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}





@media (max-width:600px){

/* main */

.new{
    /* position: relative; */
    right:3rem;
    top: 5rem;
    width: 20rem;
    
}
.new h1{
    font-size: 15px;
}


.card img{
    width: 7rem;
    height: 5rem;
}

.container-recentes{
    /* overflow-x: scroll; */
    width: 25rem;
    height: 12rem;
    top: -4rem;
}



#playlist{
    top: 12rem;
    width: 9rem;
    height: 5rem;
   
}


.card-playlist{
    flex-direction: column;
    flex-wrap: wrap;
    right: 10rem;
    width: 15rem;
   
}

}

