.main{
display: flex;
flex-direction: column;
align-items: center;  


}


.tagP{
    font-size: 25px;
}


.ullu {
    list-style: none;
    padding: 0;
    
}

.lis{
    background-color: #f1f1f1;
    margin: 5px 0;
    padding: 10px;
    cursor: move;
    border-radius: 10px;
}

.lis:hover {
    background-color: #ddd;
}

.Playlist{
    color: white;
}

.cardLista{
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: auto;
    background-color: #993399;
    border-radius: 10px;
    box-shadow: #993399;

}

.lista{
    width: 60%;
    background-color: #993399;
}

