    <link rel="stylesheet" href="/stylesheets/cadastro.css">
    <script src="/javascripts/cadastro.js" defer></script>

    <title>Cadastro</title>

     <%- include('partials/header')%>


    <main class="conteudo">
        <section>
            <nav class="conteudoprincipal">
                <button hidden class="botao">Conta</button>
                <button hidden class="botao">Alterar Cadastro</button>
                <button hidden class="botao">Histórico de compras</button>                              
            </nav> 
        </section>


        <form class="conteudoprincipal1" method="post" action="/registro" enctype="multipart/form-data" onsubmit="testaSenhas()"> 
              
            <div class="alterardados1">          
                <h2 class="alterarDados">Cadastro de Usuários</h2>                                   
                <input class="imput1" type="text"  name="name" placeholder="Nome" required>
                <input class="imput1" type="text"  name="surname" placeholder="Sobrenome" required>
                <input class="imput1" type="text"  name="nasc" placeholder="Data de nascimento" required>
                <input class="imput1" type="text"  name="username" placeholder="Nome de usuario" required>
                <input class="imput1" type="email" name="email" placeholder="Seu melhor E-mail" required>                
                <input class="imput1" type="text"  name="phone" placeholder="Telefone" required>                              
                <input class="imput1" id="senha1" type="password" name="senha" placeholder="Senha" required>
                <input class="imput1" id="senha2" type="password"  placeholder="Repita a Senha" required>
                <button type="submit" class="AlterarSenha" >Cadastrar</button> 
            </div>  

             <div class="conteudoprincipal2">
                    <img class="fotoPerfil" id="imagem" src="/images/painelUsario-img/bottao perfil (1).png" alt="">
                    <input required id="escolherArquivo" class="file-personalizada" type="file" name="imagem" accept="image/*" placeholder="imagem">       
             </div>       

            </form>       
    </main>

    <%- include('partials/footer')%>