<%- include('partials/header')%>

<link rel="stylesheet" href="/stylesheets/load.css">
<script src="/javascripts/load.js" defer ></script>
 <title>Loading</title>

<main class="main">

    <h1 id="aga1">Processando dados...</h1>
    <p class="tagP" id="tagP">Por favor, aguarde .</p>

<canvas id="UgCanvas" width="400" height="200">
</canvas>

</main>

<%- include('partials/footer')%>