      <link rel="stylesheet" href="/stylesheets/Login.css">
    <script src="/javascripts/login.js" defer ></script>
     <title>Login</title>
    <%- include('partials/header')%>

    <main>
      
        <section class="tela-login">
           
           <% if (typeof dados !== 'undefined'){ %>
            <span id="msgAlerta"><%- dados %></span>
          <% } else { %>
            <span id="msgAlerta"></span>
          <% } %>
           

            <div class="caixa-login">
                <h1>Login</h1>
                
                <form class="login" id="formLg" method="post"  action="/validaLogin">
                    <label for="email">Email *</label>
                    <input type="email" name="email" id="email" placeholder="Seu@email.com" >
                    
                    <label for="senha">Senha *</label>
                    <input type="password" name="senha" id="password"  placeholder="Senha">

                <button class="bt-login">Login</button>    
            </form>
                <a href="#lost-password">Esqueceu a senha?</a><br>
            </div>
           <div id="caixa2">
            <div class="registrar">
                <h4>Ainda não tem uma conta? <a href="/cadastro">Registre-se</a></h4>              
                <a href="htps:www.google.com"><button ><img src="/images/login-img/google.png" alt="" >Continuar com o Google?</button></a>
          </div>
          </div>        
        
        </section>
       
        
         </main>
    
         <%- include('partials/footer')%>