<%- include('partials/header')%>

<link rel="stylesheet" href="/stylesheets/meuPlayer.css">
<script src="/javascripts/meuPlayer.js" defer ></script>
 <title>Som Na Caixa</title>


 <main class="main">

<div class="cardLista" id="cardLista">
    <h1 class="Playlist" >Playlist 1</h1>
    <div class="lista">    
        <ul class="ullu" id="todo-list">
        <li class="lis" draggable="true" ondragstart="dragStart(event)" id="item1">Música 1</li>
        <li class="lis" draggable="true" ondragstart="dragStart(event)" id="item2">Música 2</li>
        <li class="lis" draggable="true" ondragstart="dragStart(event)" id="item3">Música 3</li>
        <li class="lis" draggable="true" ondragstart="dragStart(event)" id="item4">Música 4</li>
        <li class="lis" draggable="true" ondragstart="dragStart(event)" id="item5">Música 5</li>

    </ul>
</div>

</div>


</main>



<%- include('partials/footer')%>