<%- include('partials/header') %>

<link rel="stylesheet" href="/stylesheets/novoUsuario.css">
    <script src="/javascripts/novoUsuario.js" defer></script>



<div class="novoUser">
    <% if (typeof newUsuario !== "undefined"){ %>
<h2>Seja bem Vindo </h2> <h2 class="usernameText"><%- newUsuario.nomeDeUsuario %>!</h2>

    <img class="img" src= <%= newUsuario.foto%> alt="">
    
     <% } else { %>   

       
    <h2 class="usernameText">teste</h2>
        
     
        <% } %>
     

    <button class="button" onclick="location.href='/login'">Login</button>
</div>





<%- include('partials/footer') %>