<%- include('partials/header') %>



    <link rel="stylesheet" href="/stylesheets/admin.css" enctype="multipart/form-data">
    <script src="/javascripts/admin.js" defer></script>

    <main class="container-main">

      <!-- POST                                   multipart/form-data funcao que permite enviar arquivos -->
      
      <!-- <input type="file" name="userImage">  para usar o multer-->
      
      <form method="post" action="/servicos/create" >
        <h2>CREATE</h2>
        <input type="text" name="artista" required placeholder="Artista" value="gato">
        <input type="text" name="musica" required placeholder="Música" value="ahan">
        <input type="text" name="album" required placeholder="Álbum" value="miau">


        <select name="genero">
          <option value="rock" selected>Rock</option>
          <option value="dance" >Dance</option>
          <option value="hiphop">Hip Hop</option>
          <option value="sertanejo">Sertanejo</option>
          <option value="axe">Axé</option>
          <option value="blues">Blues</option>
          <option value="funk">Funk</option>
          <option value="forro">Forró</option>]
          <option value="reggae">Reggae</option>
          <option value="pop">Pop</option>
          <option value="samba">Samba</option>
          <option value="pagode">Pagode</option>
          <option value="mpb">MPB</option>
        </select>
        

        
        <div class="imagem">
        <p>Capa Album</p>
        <img src="../images/imagensAlbuns/wait.jpg" alt="">
        <input type="file" name="imagem" accept="image/*" placeholder="imagem">
      </div>

        
        <!-- <textarea type="text" name="descricao" placeholder="descricao"></textarea> -->
        <input type="text" name="preco" required placeholder="Preco R$" value="reais">

          
        <!-- <textarea type="text" name="descricao" placeholder="descricao"></textarea> -->
        <input type="text" name="ano" required placeholder="Ano" value="1999">

        <p>Musica</p>
        <input type="file" name="endereco" accept="audio/mp3" placeholder="MP3">
        
        <button >Adicionar Música</button>
      </form>





      <!-- GET -->
      <form method="get" action="/servicos/search">
        <h2>READ</h2>
        <label for="id">ID:</label>
        <input type="text" name="id" id="id" placeholder="id">
        
        <label for="artista">Musica:</label>
        <input type="text" name="musica" placeholder="Musica">


        <button id="botaoRead"> Buscar</button>
      </form>




      <!-- PUT -->
      <form method="post" action="/servicos/edit">
        <h2>UPDATE</h2>
        <input type="text" name="id" placeholder="id">
        <input type="text" name="nome" placeholder="nome">
        <textarea type="text" name="descricao" placeholder="descricao"></textarea>
        <input type="text" name="valor" placeholder="valor">
        <input type="text" name="imagem" placeholder="imagem">
        <button>editar</button>
      </form>

      <!-- DELETE post -->
      <form method="get" action="/servicos/remove">
        <h2>DELETE</h2>
        <input type="text" name="id" placeholder="id">
        <button>apagar</button>
      </form>
      
    </main>

<%- include('partials/footer') %> 